body {
    font-family: 'Archivo Black';
    background-color: #000000;
    margin: 0;
    padding-left: 170px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    flex-direction: row;
     
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.logoContainer {
    background-color: black;
    display:flex;
    width: 100%;
    height:100%;
    margin-top: 40px;
    justify-content: right;
}


.logo {
    width: 100%;
    height: 100%;
}


.signup-container {
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.signup-header {
    background-color: #000000;
    color: #FFE3EF;
    padding: 25px;
    text-align: center;
    margin: 0px;
}


.header {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}

.header:hover {
    transition: 0.5s ease-in;
    font-size: 40px;
    cursor: pointer;
}


.signupContainer {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.signupForms {
    margin-top: -100px;
    justify-content: center;
    padding: 20px;
    background-color: #FFE3EF;
    height: 340px;
    border-radius: 30px;
    text-align: center;
}


.form-group {
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group input {
    width: 300px;
    height: 28px;
    border-style:none;
}

.signInButton {
    margin-top: 10px;
    padding:20px;
    border-style: none;
    border-radius: 20px;
    background-color: #FFE3EF;
    color: black;
    font-weight:bold;
}

.signInButton:hover {
    transition: 0.4s ease-in-out;
    background-color: black;
    color: #FFE3EF;
    width: 150px;
    cursor: pointer;
    font-weight: bold;

}





