
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #FFE3EF;
 }



 
 
 
 .headings {
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: #FFE3EF;
    font-size: large;
 
 
 }
 
 
 label {
    display: block;
    margin: 0.5rem 0;
 
 
 }
 
 
 label span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 
 
 .buttons {
    padding-top: 15px;
 
 
 }
 
 
 html {
    background-color: black;
 }
 

 
.surveycontainer {
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin: 0;
 }

 .description {
   width: 100px;
   height:100px;
 }

 .submit {
   display:flex;
   align-items:center;
   padding: 10px;
   border-radius: 10px;
   background-color: black;
   border-style:none;
   color: #FFE3EF;
   margin-left: 270px;

 }

 .submit:hover {
   background-color: #FFE3EF;
   cursor: pointer;
   color: black;

 }

 .textarea {
   width: 500px;
   height: 100px;
   justify-content: center;
   align-items: center;
   margin-left: 50px;

 }


.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px; /* Adjust the width as needed */
    height: 130px; /* Maintain aspect ratio */
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 